<!-- observar a include do ejs -->
<!-- observar os objetos {} no ejs, na linha das incudes (pagina header) -->

<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head'); %>

  <body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %>

    <main>
      <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>Oi, sou o Gustavo Parizi, desenvolvedor em tecnologias Javascript.</p>
      </div>
    </main>

  </body>

  <%- include('../partials/footer'); %>

</html>